#newOrder, #newProduct {
    display: none;
}

#orderForm, #productForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    .labelInput {
        display: flex;
        justify-content: space-between;
    }

    input {
        border-radius: 10px;
        width: 50%;
        height: 2em;
    }

    input::placeholder {
        color: #757575;
        padding-left: 10px;
    }
    
}

#paymentMethod, #orderStatus {
    width: 50%;
    height: 2em;
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    margin-bottom: 10px;
}