@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: "Nunito";
    background-color: #767d74;
}

header {
    height: 10vh;
    background-color: #181c14;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#initialDisplay {
    height: 70vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    /* #btnsCreate {
        display: flex;
        justify-content: center;
    } */
}

.btns {
    width: 10rem;
    height: 3rem;
    border-radius: 15px;
    margin: 2px;
    background-color: #181c14;
    color: #ECDFCC;

    :hover {
        
    }
}






footer {
    width: 100vw;
    height: 10vh;
    background-color: #181c14;
}



/* FORMS */
#newOrder, #newProduct {
    display: none;
}
