@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    
}

body {
    font-family: "Nunito";
    background-color: #c8baa8;
    overflow-x: hidden;

}

header {
    overflow-y: hidden;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #092343;

    #divLogo {
        width: 30vw;
        padding-left: 10vw;
    }

    #logo {
        height: 3.5rem;
        width: auto;
    }

    ul {
        width: 60vw;
        display: flex;
        list-style-type: none;
        gap: 10%;

        a {
            color: white;
            text-decoration: none;
            
            &:hover {
                color: #a26f72;
                font-weight: 700;
                text-decoration: underline;
            }
            
            &:visited {
                text-decoration: none;
            }
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
        color: #092343;
        font-size: 1rem;
        font-weight: 700;
        text-decoration: none;
        
        &:hover {
            font-weight: 900;
        }
    }

    #backToTop {
        border: none;
        border-radius: 100%;
        padding: 5px;
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        margin: 5px;
        background-color: #153a67;
        color: #ECDFCC;
        box-shadow: inset 2px 2px 10px #07274e, inset -2px -2px 10px #153a67;
    }

}

#initialDisplay {
    height: 90vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    #textAndImg {
        display: flex;
        flex-direction: column;

        #initialText {
            font-size: 2rem;
            margin: 10px;
        }

        #initialImg {
            width: 40vw;
            height: auto;
            border-radius: 7px;
        }
    } 

    #btnsCreate {
        width: 70%;
        padding: 10px;
        display: flex;
        justify-content: center;

        #btnAddProduct, #btnAddOrder {
            width: 80%;
            margin: 10px;
        }
    }
}

#forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    #container {
        display: none;
    }
    
    #orderForm, #productForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        
        .labelInput {
            display: flex;
            justify-content: space-between;
        }
    
        label {
            font-weight: 800;
        }
    
        input, select {
            border-radius: 10px;
            width: 40%;
            height: 2em;
        }
    
        input::placeholder {
            color: #757575;
            padding-left: 10px;
        }    

        button {
            align-self: center;
        }
    }
    
    #paymentMethod, #orderStatus {
        width: 50%;
        height: 2em;
        display: flex;
        flex-direction: row;
        border-radius: 8px;
        margin-bottom: 10px;
    }

    #newOrder, #newProduct {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-y: hidden;
        border-radius: 10px;
        gap: 5vh;
        padding: 10%;
        background-color: #9198a3;
        height: 85vh;
        margin: 3vh;
    }

}

#tables {
    width: 85%;
    text-align: center;

    caption {
        font-size: 1.5rem;
        text-align: left;
        font-weight: 700;
        margin-bottom: 10px;
        color: #000000;
    }

    #productTable, #orderTable {
        width: 100%;
        margin-bottom: 1.5rem;
        border-collapse: collapse;

        th {
            padding: 0;
            height: 2.8rem;
            background-color: #081e36;
            color: #f9f9ee;
            font-weight: 600;
            font-size: 15px;
        }

        td {
            height: 10vh;
        }

        tr:hover {
            background-color: #a0a2a5;
        }

        .btnEdit, .btnDel {
            border: none;
            background: none;
            cursor: pointer;
            transition: transform 0.2s;

            &:hover {
                transform: scale(1.1);
            }
        }

        .imgBtnEditDel {
            margin: 5px;
            width: 1.9rem;
            height: auto;
        }
    }
}

.btns {
    width: 12rem;
    height: 3.2rem;
    border-radius: 15px;
    margin: 5px;
    background-color: #153a67;
    color: #f7f2eb;
    box-shadow: inset 2px 2px 10px #6c99d1, inset -2px -2px 10px #052752;
}

footer {
    width: 100vw;
    height: 15vh;
    background-color: #092343;
    display: flex;
    justify-content: center;
    align-items: center;

    #deleteAll {
        width: 12rem;
        height: 3.2rem;
        border-radius: 15px;
        margin: 5px;
        background-color: #aa262f;
        color: #ECDFCC;
        box-shadow: inset 2px 2px 10px #fa4949, inset -2px -2px 10px #0e0000;
    }

    .imgUp {
        height: 3rem;
    }
}

.btns:hover, #deleteAll:hover, #backToTop:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#backToTop:hover {
    transform: scale(1.1);
}