@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito";
}

header {
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#orderForm {
    display: flex;
    flex-direction: column;

    
    input {
    border-radius: 8px;
    width: 20rem;
    height: 2.3rem;

    #paymentMethod, #orderStatus {
        border-radius: 8px;
        width: 10rem;
        height: 2.6em;
        display: flex;
        flex-direction: row;
        }
    }
}

#btnsCreate {
    display: flex;
    flex-direction: row;
}

footer {

}

#newOrder, #newProduct {
    display: none;
    font-weight: 500;
}



.btns {
    width: 10rem;
    height: 2.5rem;
    border-radius: 10px;
    margin: 2px;
}
