@media all and (max-width: 590px) {


    #tables {
        thead {
            display: none;
        }
    
        td {
            display: grid;
            gap: 10rem;
            grid-template-columns: 2ch auto;
            
        }
    
        td::before {
            content: attr(data-th) ": ";
            font-weight: 900;
            color: #181c14;
            text-decoration: underline;
        }
    }

    
}
