@media all and (max-width: 590px) {


    thead {
        display: none;

    }

    td {
        display: grid;
        gap: 5rem;
        grid-template-columns: 4ch auto;
    }

    td::before {
        content: attr(data-th) " ";
        font-weight: 900;
        color: #181c14;
    }
}
