@import url(../../globals.css);

body {
    font-family: 'Nunito';
    background-color: var(--background-color);
}

#navigation {
    position: fixed;
    height: 15vh;
    padding: 1%;
    width: 100vw;

    ul {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 5%;
    }

    a {
        font-size: 1.1rem;
        text-decoration: none;
        font-weight: 500;
        color: var(--tertiary-color);
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;

        &:hover {
            color: var(--highlight-color);
            font-weight: bold;
        }
    }
}

 #logo {
        width: 100%;
        height: auto;
        transition: transform 0.3s;
        padding: 10%;

        &:hover {
            transform: scale(1.05);
        }
}

#start {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 1% 0% 2% 0%; */
}

#start-container {
    overflow: hidden;
    background-color: var(--primary-color);
    width: 60vw;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--standard-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;

    &:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
}

#container-left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#btns-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2%;
}

.btns-start {
    margin: 5px;
    width: 15rem;
    height: 3rem;
    border: none;
    font-weight: bold;
    border-radius: var(--standard-radius);
    background-color: var(--secondary-color);
    color: var(--text-on-dark);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;

    &:hover {
        background-color: var(--tertiary-color);
        transform: translateY(-2px);
    }

    &:active {
        transform: translateY(1px);
    }
}

#container-right {
    width: 50%;
}

#start-img {
    height: 100%;
    width: 100%;
    border-radius: var(--standard-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}