#tables {
    width: 85%;

    caption {
        font-size: 1.5rem;
        text-align: left;
        font-weight: 700;
        margin-bottom: 10px;
        color: #000000;
    }
    
    #productTable, #orderTable {
        width: 100%;
        margin-bottom: 1.5rem;
        border-collapse: collapse;

        th {
            padding: 0px;
            margin: 0px;
            border: 0px;
            height: 2.5rem;
            background-color: #181c14;
            color: #ECDFCC;
            font-weight: 600;
            font-size: 15px;
        }

        th, td {
            
            text-align: center;
        }

        tr:hover {
            background-color: #adaea7;
            font-weight: 700;
        }
        
        .btnEdit, .btnDel {
            border: none;
            background: none;
            cursor: pointer;
            transition: transform 0.2s;
        }
        
        .btnEdit:hover, .btnDel:hover {
            transform: scale(1.3);
        }
        
        .imgBtnEditDel {
            margin: 10px;
            width: 1.9rem;
            height: auto;
        }

    }
}